.ripple {
  background-color: rgba(255, 255, 255, 0.7);
  animation: ripple 1s ease-out;
  position: absolute;
  border-radius: 50%;
}

@keyframes ripple {
  to {
    transform: scale(8);
    opacity: 0;
  }
}
